@model IEnumerable<ProjetRetard.Models.BilletRetard>

@{
    ViewBag.Title = "Liste des retards";
    Layout = "~/Views/_Navbar.cshtml";
}


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Motif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Justificatif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateHeure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Motif)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Justificatif)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateHeure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
    <p>
        @Html.ActionLink("Créer un nouveau retard", "Create")
    </p>

