<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <nav class="navbar container navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Projet Retard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="~/BilletRetard/Index">Accueil <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
        <div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profil
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="~/Utilisateur/Detail/@Request.Cookies["idUtilisateurCookie"]["idUtilisateur"]">Mon compte</a>
                        <a class="dropdown-item" href="#">Mes retards</a>
                        <div class="dropdown-divider"></div>
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("Deconnexion", "BilletRetards", FormMethod.Post, new { id="logoutForm"}))
                            {
                                <a href="javascript:document.getElementById('logoutForm').submit()">Deconnexion</a>
                            }
                        }
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Antoine MAZOYER et Wilfried MONTAGNE</p>
        </footer>
    </div>
</body>
</html>
