@model ProjetRetard.Models.Utilisateur

@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/_Navbar.cshtml";
}

<div>
    <h4>Mon profil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Classe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdresseMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdresseMail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier mon profil", "Edit", new { id = Model.ID })
    <br />
    @Html.ActionLink("Annuler la modification", "Index", "BilletRetards")
</p>
